*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	background-color: #FFFFFF;
	background-size: cover;
	background-position: center;
   
    font-family: sans-serif;

}
.menu-bar
{
	background: rgb(0, 0, 0);
	text-align: center;

}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #FFFFFF;
}
.menu-bar ul li
{
	width: 120px;
	margin: 15;
	padding: 15;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: #FFFFFF;
}
blockquote 
{
	background-color: #FFFFFF;
	text-decoration: inherit;
	font-family: fantasy;
}
p 
{
	color: #6633CC;
	border: dashed;
	font-size: 40px;
}
form
{
	background-color: ivory;
	background-position: left;
	border: medium;
	border-style: double ;
	box-sizing:inherit;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
